body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
    height: 700px;
}

.leaflet-div-icon{
    width: 150px !important;
    height: auto !important;
}

.key{
    font-size: 150% !important;
    padding: 5px !important;
}

.value{
    font-size: 130% !important;
    padding: 5px !important;
}